html {
    scroll-behavior: smooth;
}
body {
    font-family: "Arial";
    background-color: rgb(210, 220, 210);
}
h1 {
    font-size: 36px; text-align: center;
    color: rgb(50, 50, 50);
}
h2 {
    font-size: 30px;
    margin-top: 50px;
    color: rgb(50, 50, 50);
}
h3 {
    font-size: 24px;
    margin-top: 30px;
    color: rgb(50, 50, 50);
}
p {
    font-size: 18px; line-height: 1.5;
    color: rgb(50, 50, 50);
}
ul {
    font-size: 18px; line-height: 1.5;
    color: rgb(50, 50, 50);
}

/*table*/
table {
    border-collapse: collapse;
    font-size: 18px;
}
th {
    border: solid 1px;
    padding: 4px 12px 4px 12px;
}
td {
    border: solid 1px;
    padding: 4px 12px 4px 12px;
}
.td-center {text-align: center;}
.td-right {text-align: right;}

/*GLOBAL*/

/*top bar*/
#top-bar {
    position: fixed;
    top: 0px; left: 0px;
    width: 100%; height: 60px;
    background-color: rgb(150, 170, 150);
    z-index: 100;
}
#top-bar-logo {
    float: left;
    padding: 10px 50px 14px 50px;
    font-family: "Snell Roundhand"; font-size: 34px; text-align: center; color: rgb(110, 130, 120);
}
#top-bar-nav {
    float: left;
}
.top-bar-btn {
    float: left;
    padding: 18px 15px 5px 15px;
    background-color: rgb(150, 170, 150, 0);
    font-size: 20px; text-align: center; color: rgb(210, 240, 215); text-decoration: none;
    /*animation*/
    background-image: linear-gradient(to right, rgb(210, 240, 215, 0) 0%, rgb(210, 240, 215, 1) 50%, rgb(210, 240, 215, 0) 100%);
    background-position: 50% 100%; background-size: 0% 2px; background-repeat: no-repeat;
}
.top-bar-btn:hover {
    /*animation*/
    background-size: 100% 2px;
    transition: background-size 0.3s;
}
#top-bar-user {
    float: right;
}
.login-btn {
    float: right;
    padding: 13px 15px 13px 15px;
    background-color: rgb(200, 210, 220);
    font-size: 20px; text-align: center; color: black; text-decoration: none;
}
.login-btn:hover {
    background-color: rgb(180, 190, 200);
}

/*MAIN*/

#main {
    position: absolute;
    top: 60px; left: 0px;
    width: 100%;
}

/*image holder*/
.image-holder {
    margin: 5px 40px 40px 40px;
    border: solid 1px rgb(150, 150, 150);
    border-radius: 0px 0px 10px 10px;
}
.image-holder.left-align {
    margin-left: 0px;
}
.image-holder.right-align {
    margin-right: 0px;
}
.image-holder img {
    width: 100%;
}
.image-holder p {
    font-size: 14px;
    margin: 10px 10px 10px 10px;
}

/*text block*/
.text-block {
    width: 90%;
    margin: 70px 5% 70px 5%;
    scroll-margin-top: 150px;
}

/*image block*/
.image-block {
    display: flex; flex-direction: row;
    width: 100%;
    margin: 90px 0% 90px 0%;
}
.image-row {
    display: flex; flex-direction: row;
    width: 100%;
}

/*ELMENENTS*/

.button {
    background-color: rgb(200, 200, 200);
    border: solid 1px; border-radius: 5px;
    font-size: 16px; text-align: center; color: rgb(50, 50, 50);
    padding: 4px 4px 4px 4px;
}
.button:hover {
    background-color: rgb(180, 180, 180);
}
.text-entry {
    border: solid 1px;
    font-size: 16px;
    padding: 4px 4px 4px 4px;
    font-size: 16px;
    cursor: text;
}